<!doctype html>
<title>Flaskr</title>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui-1.10.4.custom.min.css') }}">
<script>
var currentUser = '{{ session.get('email') }}';
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="{{ url_for('static', filename='persona.js') }}"></script>
<body onload="call_watcher();">
<div class=page>
	<h1><a href="/">Flaskr</a></h1>
	<div class=metanav>
	{% if not session.logged_in %}
		<span title="{{ url_for('login') }}" id="login">log in</span>
		<div id="loginform" style="position: absolute; top: 30px; background: #fff; border: 3px solid #bbb;">
	<form action="{{ url_for('login') }}" method=post>
		<dl>
			<dt>Username:
			<dd><input type=text name=username>
			<dt>Password:
			<dd><input type=password name=password>
			<dd><input type=submit value=Login>
		</dl>
	</form>
	</div>
		<a href="#" onclick="navigator.id.request();">(Use Persona)</a>
		/ <a href="{{ url_for('register_user') }}">register</a>
	{% else %}
		<div>Logged in as <a href="{{ url_for('show_user', id=session.id) }}">{{ session.get('username') }}</a> (<a href="{{ url_for('edit_user') }}">Edit</a>)</div>
		{% if session.login_type == 'username' %}
			<a href="{{ url_for('logout') }}">log out</a>
		{% else %}
			<a href="#" onclick="navigator.id.logout();">log out</a>
		{% endif %}
	{% endif %}
	</div>
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }} (<span onclick="$(this.parentNode).fadeOut(250);">Dismiss</span>)</div>
	{% endfor %}
	{% block body %}{% endblock %}
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<script src="{{ url_for('static', filename='misc.js') }}"></script>
</div>
