{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		{% if session['id'] == id %}
			This is you!
		{% endif %}
	{% endif %}
	{% for user in users %}
		<h2>{{ user.username }}</h2>
	{% else %}
		<li><em>User doesn't exist.</em>
	{% endfor %}
	</ul>
	<ul class=entries>
	{% for entry in entries %}
		<li><h2><b>{{ entry.title }}</b> by <a href="{{ url_for('show_user', id=entry.author_id) }}">{{ entry.author }}</a>
			(<a href="{{ url_for('delete_entry', id=entry.id) }}">Delete</a>)
		</h2>{{ entry.text }}<h3>{{ entry.timestamp }}</h3>
		{% if session.logged_in %}
		{% endif %}
	{% else %}
		<li><em>User has no posts.</em>
	{% endfor %}
	</ul>
{% endblock %}
